* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 15rem;
    height: 15rem;
}

.titulo {
    color: rgb(95, 30, 95);
    font-family: 'Arenas movedizas', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.fondo {
    display: flex;
    flex-direction: column;
}

.prod-container {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 2rem;
    margin: 2rem;
}


.rojo {
    color: red;
}
.azul{
    color:rgb(7, 7, 99)
}

.agregar {
    border: none;
    color: black;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #04AA6D;

}

.agregar:hover {
    background-color: #46a049;
    color: white;
}


.eliminar {
    border: none;
    color: black;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #f44336;
}


.eliminar:hover {
    background: #da190b;
    color: white;

}